<div class="container">
  <div id="content">
    <img id="logo" src="./assets/img/logo_p.png" alt="logo-ibp" />
    <section id="seccion-1">
      <h1 id="titulo">{{ title }}</h1>
      <p id="parrafo-1">
        Somos una Iglesia Bautista Reformada en Panamá,<br />
        nuestras doctrinas se resumen en la Confesión Bautista de<br />
        Londres de 1689.
      </p>
    </section>
    <section id="seccion-2">
      <article id="articulo-1">
        <a [routerLink]="['']"> Adoración<br />Pública </a>
      </article>
      <a [routerLink]="['']">
        <article id="articulo-2">
          <h3>Testimonio a la Comunidad</h3>
        </article>
      </a>

      <a [routerLink]="['']">
        <article id="articulo-3">
          <h3>Discipulado <br />en el Hogar</h3>
        </article>
      </a>
    </section>
    <hr />
    <app-footer></app-footer>
  </div>
</div>
