/*Logo*/
#logo{
  width: 400px;
  margin-left: 100px;
  margin-top: 60px;
  position: absolute;
}
.container {
  margin-top: -55px;
  background: url('/assets/img/mountain.png') no-repeat center center/cover;
  background-size: 100% 100%;
}

#content {
  margin: 0px auto;
  width: 75%;
  height: 1500px;
  border: 1px solid rgba(255, 255, 255, 0);
}

/*Titulo*/
#titulo{
  margin-left: 80px;
  font-size: 40px;
}
/*Parrafo principal*/
#parrafo-1{
  margin-left: 80px;
  font-size: 25px;
}
/*Seccion*/
#seccion-1{
  margin-top: 640px;
}
/*Seccion 2*/
#seccion-2{
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: -30px;

}
/*Articulos*/
#articulo-1{
  background: url("/assets/img/cosmic.jpg")no-repeat center center/cover;
  width: 200px;
  height: 250px;
  text-align: center;
  border-radius: 10px;
  margin-top: 40px;
  margin-right: 50px;
}
#articulo-1 a{
  font-size: 20px;
  padding-top: 10px;
  text-decoration: none;
  color: white;
}

#articulo-2{
  background: url("/assets/img/rezaulh.jpg")no-repeat center center/cover;
  width: 200px;
  height: 250px;
  text-align: center;
  border-radius: 10px;
  margin-top: 40px;
  margin-right: 50px;
}
#articulo-2 h3{
  font-size: 20px;
  padding-top: 200px;
}
#articulo-2 a{
color: white;
text-decoration: none;
}
#articulo-3{
  background: url("/assets/img/luke.jpg")no-repeat center center/cover;
  width: 200px;
  height: 250px;
  text-align: center;
  border-radius: 10px;
  margin-top: 40px;
  margin-right: 50px;
}
#articulo-3 a{
  font-size: 15px;
  padding-top: 10px;
  color: black;
  text-decoration: none;
}

/*
Footer
*/
#footer{
  /*border: 1px solid white;*/
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#redes{
  width: 380px;
  display: flex;
}
#redes img{
  width: 40px;
  margin-left: 45px;
}

#logo-footer{
  width: 380px;
  display: flex;
  font-size: 20px;
  padding: 5px;
  justify-content: center;
  margin-top: -10px;
}

#ibp-1 {
  margin-top: 15px;
  font-size: 40px;
}

#ibp-2{
  border-right: thick solid white;
  position: absolute;
  height: 80px;
  margin-left: -70px;
}

#ibp-3 {
  margin-top: 15px;
  font-size: 20px;
}

#ubicacion{
  width: 380px;
  display: flex;
}
#ubicacion img{
  width: 40px;
  margin-left: 40px;
}