<footer id="footer">
  <div id="redes">
    <img src="./assets/img/facebook.png">
    <img src="./assets/img/instagram.png">
    <img src="./assets/img/youtube.png">
  </div>
  <div id="logo-footer">
    <span id="ibp-1">IBP</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span id="ibp-2">&nbsp;&nbsp;</span>
    <span id="ibp-3">Iglesia Bautista <br/>de Pacora</span>
  </div>
  <div id="ubicacion">
    <img src="./assets/img/mapa.png">
    Dirección: 3PJ4+QW5, Pacora<br/>Teléfono: 6438-7234
  </div>
</footer>
