/*Estilos generales*/
*{
  margin: 0px;
  padding: 0px;
}
body{
  height: 50%;
  color: white;
  font-family: 'Arial Narrow', Arial, sans-serif;
}
/*Barra de navegación
*/
header ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 20px;
  margin-top: 30px;
}

header ul li a{
  color: white;
  text-decoration-line: none;
 
}
header ul li a:hover{
  text-decoration-line: underline;
}